model {
  faster_rcnn {
    num_classes: 1
    image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 1024
        max_dimension: 1024
      }
    }
    ...
    mask_rcnn {
      ...
    }
  }
}

train_config {
  batch_size: 2
  fine_tune_checkpoint: "model/checkpoint/ckpt-0"
  fine_tune_checkpoint_type: "detection"
  num_steps: 10000
  ...
}

train_input_reader {
  label_map_path: "label_map.pbtxt"
  tf_record_input_reader {
    input_path: "tfrecords/train.record"
  }
}

eval_input_reader {
  label_map_path: "label_map.pbtxt"
  tf_record_input_reader {
    input_path: "tfrecords/train.record"
  }
  shuffle: false
  num_epochs: 1
}
